.home-about{
    position:relative;
    top:-110px;
}

.home-about-body{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

/* home2 */

.home-about-section { 
    margin-top:0px;
    background-color:#0E182A;
    padding-bottom: 40px !important;
    padding-top: 0px !important;
 }
 
 .home-about-description {
   color: white !important;
   padding-top: 100px !important;
   padding-bottom: 20px !important;
   text-align: center;
 }
 
 .home-about-body {
    text-align:center;
   padding-top: 50px;
   font-size: 1.2em !important;
   
 }
 