.contact{
  margin-top:10%;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  color:white;
  }

  @media screen and (max-width: 750px) {
  .contact {
      margin-top:30%;
      width:80%;
    }
  }
  

  .form-group1{
    height:50px; 
  }

  .form-group2{
    height:80px;
  }