@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(to left, rgb(7, 1, 19), rgb(25, 3, 94)); */
  /* background-image: linear-gradient(to bottom, rgb(25, 3, 94),#0E182A); */
  background-image: linear-gradient(to bottom,#0E182A,#0E182A);
}
